<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="events" xsi:type="File" fileName="${basedir}/logs/events/${shortdate}.log" 
            layout="Date = ${longdate}; IP = ${aspnet-Request-IP}; URL = ${aspnet-Request-Url}; Controller name = ${aspnet-MVC-Controller}; Action name = ${aspnet-MVC-Action}"/>
    
    <target name="ipRequests" xsi:type="File" fileName="${basedir}/logs/ipRequests/${shortdate}.log" layout="IP = ${aspnet-Request-IP}"/>

    <target name="exceptions" xsi:type="File" fileName="${basedir}/logs/exceptions/${shortdate}.log"
            layout="Date = ${longdate}; URL = ${aspnet-Request-Url}; Controller name = ${aspnet-MVC-Controller}; Action name = ${aspnet-MVC-Action};${newline}${exception:format=tostring}"/>

    <target name="performance" xsi:type="File" fileName="${basedir}/logs/performance/${shortdate}.log"
            layout="${longdate}; Controller name = ${aspnet-MVC-Controller}; Action name = ${aspnet-MVC-Action}; Response time = ${message}ms"/>
    
    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="EventLogger" level="Debug" writeTo="events"></logger>
    <logger name="PerformanceLogger" level="Debug" writeTo="performance"></logger>
    <logger name="IpLogger" level="Info" writeTo="ipRequests"></logger>
    <logger name="ExceptionLogger" level="Error" writeTo="exceptions"></logger>
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>
