<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
			autoReload="true"
			throwExceptions="false"
			internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<variable name="myvar" value="myvalue"/>
	
	<targets>
		<target name="eventsAndPerformance" xsi:type="File" fileName="${basedir}/logs/eventsAndPerformance/${shortdate}.log"
						layout="Date = ${longdate}; IP = ${aspnet-Request-IP}; URL = ${aspnet-Request-Url}; Controller name = ${aspnet-MVC-Controller}; Action name = ${aspnet-MVC-Action}; Response time = ${message}ms"/>

		<target name="ipRequests" xsi:type="File" fileName="${basedir}/logs/ipRequests/${shortdate}.log" layout="IP = ${aspnet-Request-IP}"/>

		<target name="exceptions" xsi:type="File" fileName="${basedir}/logs/exceptions/${shortdate}.log"
						layout="Date = ${longdate}; URL = ${aspnet-Request-Url}; Controller name = ${aspnet-MVC-Controller}; Action name = ${aspnet-MVC-Action};${newline}${exception:format=tostring}"/>
	</targets>
	
	<rules>
		<logger name="*" level="Debug" writeTo="eventsAndPerformance"></logger>
		<logger name="*" level="Info" writeTo="ipRequests"></logger>
		<logger name="*" level="Error" writeTo="exceptions"></logger>
	</rules>
</nlog>
