@model List<GameStore.Web.Models.GenreViewModel>

@{
	ViewBag.Title = "All Genres";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Genres</h1>
<hr />

@foreach (var genre in Model)
{
	<b>@Html.LabelFor(m => genre.Name)</b>
	<p>@Html.ActionLink(genre.Name, "Show", "Genres", new {key = genre.Name}, null)</p>
	<hr />
}

<p>
	@Html.ActionLink("Create new", "New", "Genres", null, new {@class = "btn btn-default"})
</p>