<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.1.0" targetFramework="net452" />
  <package gameId="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package gameId="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package gameId="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package gameId="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package gameId="Moq" version="4.7.63" targetFramework="net452" />
  <package gameId="MSTest.TestAdapter" version="1.1.18" targetFramework="net452" />
  <package gameId="MSTest.TestFramework" version="1.1.18" targetFramework="net452" />
  <package gameId="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package gameId="System.IO.Abstractions" version="2.0.0.144" targetFramework="net452" />
</packages>