<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" />
	</system.web>
	<!-- When deploying the service library project, the content of the config file must be added to the host's 
	app.config file. System.Configuration does not support config files for libraries. -->
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="PaymentServiceBehavior">
					<serviceMetadata httpGetEnabled="true"    />
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="WebBehavior">
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="PaymentServiceBehavior" name="PaymentService.Services.Concrete.Payment">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/payment" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsHttpBinding" contract="PaymentService.Services.Abstract.IPayment"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
	</system.serviceModel>

</configuration>