@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-3.1.1.min.js"></script>
	<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
	<script src="~/Scripts/bootstrap.js"></script>
	@RenderSection("Scripts", false)
</head>
<body>
	<div>
		<div class="container">
			@{Html.RenderAction("ShowCount", "Games");}
			<a class="btn btn-default" href=@Url.Action("Show", "Orders")><span class="glyphicon glyphicon-shopping-cart"></span> To basket</a>
			@RenderBody()
		</div>
	</div>
</body>
</html>