@using System.Collections
@using GameStore.Web.Models
@model List<CommentViewModel>

@{
    ViewBag.Title = "List All Comments";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var stack = new Stack<CommentViewModel>();
    Model.ForEach(c => stack.Push(c));
}

<h2>List All Comments</h2>

@while (stack.Count > 0)
{
    var comment = stack.Pop();

    <p><b>@comment.Name</b></p>

    if (comment.ParentComment != null)
    {
        <p>@comment.ParentComment.Name, @comment.Body</p>
    }
    else
    {
        <p>@comment.Body</p>
    }

    foreach (var childComment in comment.ChildComments)
    {
        stack.Push(childComment);
    }
}

@{Html.RenderPartial("NewComment", new CommentViewModel { GameId = Model.First().GameId });}