@model List<GameStore.Web.Models.RoleViewModel>

@{
	ViewBag.Title = "Show All Roles";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Show All Roles</h1>

@foreach (var role in Model)
{
	<b>@Html.LabelFor(m => role.Name)</b>
	<p>@Html.ActionLink(role.Name, "Show", "Roles", new { key = role.Name }, null)</p>
}

@Html.ActionLink("Create new", "New", "Roles", null, new { @class = "btn btn-default" })